doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="javascripts/jquery-1.8.1.min.js");
    script(src="javascripts/wiki.js");
  body
    block content